/*
 * Startpagina stijlen
 * Deze file bevat de stijlen van de startpagina
 */
body {
    margin: 0;
    padding: 0;
    background-image: url('../../assets/images/startpagina-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}